/* FB Watch-Marketplace-Groups */
li.buofh1pr.sh5w5s28.hmtkhpl9.msj552ym.n29o3yo6.o8bf5wz4.h676nmdw.hw7htvoc {
  display: none;
}

/* Right Column (Contacts and Birthdays) */
div.ahb00how.fer614ym.dp1hu0rb.pzfvarvs.buofh1pr.ftbm7790 {
  visibility: hidden;
}

/* Left Column (Home, Shortcuts, Explore) */
div.tojvnm2t.a6sixzi8.rq0escxv.a8s20v7p.k5wvi7nf.buofh1pr.pfnyh3mw.cebpdrjk.sn7ne77z.oqhjfihn.l9j0dhe7.du4w35lb {
  visibility: hidden;
}

/* Hide Stories */
div.h3ox8jsk.d2edcug0 {
  display: none;
}